<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="#">
          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
        </a>
      </li>
      <li class="breadcrumb-item"><a href="#">Settings</a></li>
      <li class="breadcrumb-item active" aria-current="page">Student</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Student</h1>
      <p class="mb-0">Studen List in each department and batch</p>
    </div>
    <div>
      <%= link_to raw('<svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        Add Student'), new_student_path ,class:"btn btn-sm btn-secondary d-inline-flex align-items-center", data: { turbo: true, turbo_frame: "modal" } %>
    </div>
  </div>
</div>
<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-centered table-nowrap mb-0 rounded">
        <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">Reg No</th>
            <th class="border-0">Name</th>
            <th class="border-0">Age</th>
            <th class="border-0">Gender</th>
            <th class="border-0">Department</th>
            <th class="border-0">Batch</th>
            <th class="border-0 rounded-end">Action</th>
          </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td>
              <%= link_to student.reg_no, student_path(student), class: "text-primary fw-bold" %>
            </td>
            <td>
              <%= student.name %>
            </td>
            <td>
              <%= student.age %>
            </td>
            <td>
              <%= student.gender.humanize %>
            </td>
            <td> <%= student.department.name %>
            </td>
            <td> <%= student.batch.name %>
            </td>
            <td>
              <%= link_to raw('<i class="bi bi-pencil-fill"></i>'),edit_student_path(student), class:"btn btn-sm btn-outline-gray-800", data: {turbo: true, turbo_frame: "modal"} %>
              <%= link_to raw('<i class="bi bi-trash3-fill"></i>'), student_path(student), class:"btn btn-sm btn-outline-gray-800",  data: { "turbo-method": :delete, turbo_confirm: "Are you sure?"}  %>
          </tr>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
