<!-- student Details Showing -->
<div class="flex-column" style="height:100vh;">
  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>
  <div class="d-flex">
    <div class="m-5" >
      <div class="card bg-light border-warning shadow">
        <div class="card-body">
          <div class="card-header">
            <h2 class="text-center">student's Details</h2>
          </div>
          <div>
            <h2> &#10145; ID: <%= @student.id %> </h2>
            <h2> &#10145; Name: <%= @student.name %> </h2>
            <h2> &#10145; Gender: <%= @student.gender %> </h2>
            <h2> &#10145; Age: <%= @student.age %> </h2>
          </div>
          <div class="d-flex">
            <%= button_to "Edit student" , edit_student_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 m-2" %>
            <%= button_to "Delete student", student_path, method: :delete ,class:"btn-danger border-0 rounded-pill shadow p-2 m-2" %>
            <%= button_to "View all student", students_path,method: :get ,class:"btn-primary border-0 rounded-pill shadow p-2 m-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
